<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dky.mapper.BusHisdata2015Mapper">
  <resultMap id="BaseResultMap" type="java.util.HashMap">
    <result column="MDATE" jdbcType="VARCHAR" property="mdate" />
    <result column="ID" jdbcType="BIGINT" property="id" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="DESCR" jdbcType="VARCHAR" property="descr" />
    <result column="DV_ID" jdbcType="BIGINT" property="dvId" />
    <result column="SOURCE" jdbcType="VARCHAR" property="source" />
    <result column="FLAG" jdbcType="VARCHAR" property="flag" />
    <result column="F00" jdbcType="DECIMAL" property="f00" />
    <result column="F01" jdbcType="DECIMAL" property="f01" />
    <result column="F02" jdbcType="DECIMAL" property="f02" />
    <result column="F03" jdbcType="DECIMAL" property="f03" />
    <result column="F04" jdbcType="DECIMAL" property="f04" />
    <result column="F05" jdbcType="DECIMAL" property="f05" />
    <result column="F06" jdbcType="DECIMAL" property="f06" />
    <result column="F07" jdbcType="DECIMAL" property="f07" />
    <result column="F08" jdbcType="DECIMAL" property="f08" />
    <result column="F09" jdbcType="DECIMAL" property="f09" />
    <result column="F10" jdbcType="DECIMAL" property="f10" />
    <result column="F11" jdbcType="DECIMAL" property="f11" />
    <result column="F12" jdbcType="DECIMAL" property="f12" />
    <result column="F13" jdbcType="DECIMAL" property="f13" />
    <result column="F14" jdbcType="DECIMAL" property="f14" />
    <result column="F15" jdbcType="DECIMAL" property="f15" />
    <result column="F16" jdbcType="DECIMAL" property="f16" />
    <result column="F17" jdbcType="DECIMAL" property="f17" />
    <result column="F18" jdbcType="DECIMAL" property="f18" />
    <result column="F19" jdbcType="DECIMAL" property="f19" />
    <result column="F20" jdbcType="DECIMAL" property="f20" />
    <result column="F21" jdbcType="DECIMAL" property="f21" />
    <result column="F22" jdbcType="DECIMAL" property="f22" />
    <result column="F23" jdbcType="DECIMAL" property="f23" />
    <result column="F24" jdbcType="DECIMAL" property="f24" />
    <result column="F25" jdbcType="DECIMAL" property="f25" />
    <result column="F26" jdbcType="DECIMAL" property="f26" />
    <result column="F27" jdbcType="DECIMAL" property="f27" />
    <result column="F28" jdbcType="DECIMAL" property="f28" />
    <result column="F29" jdbcType="DECIMAL" property="f29" />
    <result column="F30" jdbcType="DECIMAL" property="f30" />
    <result column="F31" jdbcType="DECIMAL" property="f31" />
    <result column="F32" jdbcType="DECIMAL" property="f32" />
    <result column="F33" jdbcType="DECIMAL" property="f33" />
    <result column="F34" jdbcType="DECIMAL" property="f34" />
    <result column="F35" jdbcType="DECIMAL" property="f35" />
    <result column="F36" jdbcType="DECIMAL" property="f36" />
    <result column="F37" jdbcType="DECIMAL" property="f37" />
    <result column="F38" jdbcType="DECIMAL" property="f38" />
    <result column="F39" jdbcType="DECIMAL" property="f39" />
    <result column="F40" jdbcType="DECIMAL" property="f40" />
    <result column="F41" jdbcType="DECIMAL" property="f41" />
    <result column="F42" jdbcType="DECIMAL" property="f42" />
    <result column="F43" jdbcType="DECIMAL" property="f43" />
    <result column="F44" jdbcType="DECIMAL" property="f44" />
    <result column="F45" jdbcType="DECIMAL" property="f45" />
    <result column="F46" jdbcType="DECIMAL" property="f46" />
    <result column="F47" jdbcType="DECIMAL" property="f47" />
    <result column="F48" jdbcType="DECIMAL" property="f48" />
    <result column="F49" jdbcType="DECIMAL" property="f49" />
    <result column="F50" jdbcType="DECIMAL" property="f50" />
    <result column="F51" jdbcType="DECIMAL" property="f51" />
    <result column="F52" jdbcType="DECIMAL" property="f52" />
    <result column="F53" jdbcType="DECIMAL" property="f53" />
    <result column="F54" jdbcType="DECIMAL" property="f54" />
    <result column="F55" jdbcType="DECIMAL" property="f55" />
    <result column="F56" jdbcType="DECIMAL" property="f56" />
    <result column="F57" jdbcType="DECIMAL" property="f57" />
    <result column="F58" jdbcType="DECIMAL" property="f58" />
    <result column="F59" jdbcType="DECIMAL" property="f59" />
    <result column="F60" jdbcType="DECIMAL" property="f60" />
    <result column="F61" jdbcType="DECIMAL" property="f61" />
    <result column="F62" jdbcType="DECIMAL" property="f62" />
    <result column="F63" jdbcType="DECIMAL" property="f63" />
    <result column="F64" jdbcType="DECIMAL" property="f64" />
    <result column="F65" jdbcType="DECIMAL" property="f65" />
    <result column="F66" jdbcType="DECIMAL" property="f66" />
    <result column="F67" jdbcType="DECIMAL" property="f67" />
    <result column="F68" jdbcType="DECIMAL" property="f68" />
    <result column="F69" jdbcType="DECIMAL" property="f69" />
    <result column="F70" jdbcType="DECIMAL" property="f70" />
    <result column="F71" jdbcType="DECIMAL" property="f71" />
    <result column="F72" jdbcType="DECIMAL" property="f72" />
    <result column="F73" jdbcType="DECIMAL" property="f73" />
    <result column="F74" jdbcType="DECIMAL" property="f74" />
    <result column="F75" jdbcType="DECIMAL" property="f75" />
    <result column="F76" jdbcType="DECIMAL" property="f76" />
    <result column="F77" jdbcType="DECIMAL" property="f77" />
    <result column="F78" jdbcType="DECIMAL" property="f78" />
    <result column="F79" jdbcType="DECIMAL" property="f79" />
    <result column="F80" jdbcType="DECIMAL" property="f80" />
    <result column="F81" jdbcType="DECIMAL" property="f81" />
    <result column="F82" jdbcType="DECIMAL" property="f82" />
    <result column="F83" jdbcType="DECIMAL" property="f83" />
    <result column="F84" jdbcType="DECIMAL" property="f84" />
    <result column="F85" jdbcType="DECIMAL" property="f85" />
    <result column="F86" jdbcType="DECIMAL" property="f86" />
    <result column="F87" jdbcType="DECIMAL" property="f87" />
    <result column="F88" jdbcType="DECIMAL" property="f88" />
    <result column="F89" jdbcType="DECIMAL" property="f89" />
    <result column="F90" jdbcType="DECIMAL" property="f90" />
    <result column="F91" jdbcType="DECIMAL" property="f91" />
    <result column="F92" jdbcType="DECIMAL" property="f92" />
    <result column="F93" jdbcType="DECIMAL" property="f93" />
    <result column="F94" jdbcType="DECIMAL" property="f94" />
    <result column="F95" jdbcType="DECIMAL" property="f95" />
    <result column="F96" jdbcType="DECIMAL" property="f96" />
    <result column="F97" jdbcType="DECIMAL" property="f97" />
    <result column="F98" jdbcType="DECIMAL" property="f98" />
    <result column="F99" jdbcType="DECIMAL" property="f99" />
    <result column="F100" jdbcType="DECIMAL" property="f100" />
    <result column="F101" jdbcType="DECIMAL" property="f101" />
    <result column="F102" jdbcType="DECIMAL" property="f102" />
    <result column="F103" jdbcType="DECIMAL" property="f103" />
    <result column="F104" jdbcType="DECIMAL" property="f104" />
    <result column="F105" jdbcType="DECIMAL" property="f105" />
    <result column="F106" jdbcType="DECIMAL" property="f106" />
    <result column="F107" jdbcType="DECIMAL" property="f107" />
    <result column="F108" jdbcType="DECIMAL" property="f108" />
    <result column="F109" jdbcType="DECIMAL" property="f109" />
    <result column="F110" jdbcType="DECIMAL" property="f110" />
    <result column="F111" jdbcType="DECIMAL" property="f111" />
    <result column="F112" jdbcType="DECIMAL" property="f112" />
    <result column="F113" jdbcType="DECIMAL" property="f113" />
    <result column="F114" jdbcType="DECIMAL" property="f114" />
    <result column="F115" jdbcType="DECIMAL" property="f115" />
    <result column="F116" jdbcType="DECIMAL" property="f116" />
    <result column="F117" jdbcType="DECIMAL" property="f117" />
    <result column="F118" jdbcType="DECIMAL" property="f118" />
    <result column="F119" jdbcType="DECIMAL" property="f119" />
    <result column="F120" jdbcType="DECIMAL" property="f120" />
    <result column="F121" jdbcType="DECIMAL" property="f121" />
    <result column="F122" jdbcType="DECIMAL" property="f122" />
    <result column="F123" jdbcType="DECIMAL" property="f123" />
    <result column="F124" jdbcType="DECIMAL" property="f124" />
    <result column="F125" jdbcType="DECIMAL" property="f125" />
    <result column="F126" jdbcType="DECIMAL" property="f126" />
    <result column="F127" jdbcType="DECIMAL" property="f127" />
    <result column="F128" jdbcType="DECIMAL" property="f128" />
    <result column="F129" jdbcType="DECIMAL" property="f129" />
    <result column="F130" jdbcType="DECIMAL" property="f130" />
    <result column="F131" jdbcType="DECIMAL" property="f131" />
    <result column="F132" jdbcType="DECIMAL" property="f132" />
    <result column="F133" jdbcType="DECIMAL" property="f133" />
    <result column="F134" jdbcType="DECIMAL" property="f134" />
    <result column="F135" jdbcType="DECIMAL" property="f135" />
    <result column="F136" jdbcType="DECIMAL" property="f136" />
    <result column="F137" jdbcType="DECIMAL" property="f137" />
    <result column="F138" jdbcType="DECIMAL" property="f138" />
    <result column="F139" jdbcType="DECIMAL" property="f139" />
    <result column="F140" jdbcType="DECIMAL" property="f140" />
    <result column="F141" jdbcType="DECIMAL" property="f141" />
    <result column="F142" jdbcType="DECIMAL" property="f142" />
    <result column="F143" jdbcType="DECIMAL" property="f143" />
    <result column="F144" jdbcType="DECIMAL" property="f144" />
    <result column="F145" jdbcType="DECIMAL" property="f145" />
    <result column="F146" jdbcType="DECIMAL" property="f146" />
    <result column="F147" jdbcType="DECIMAL" property="f147" />
    <result column="F148" jdbcType="DECIMAL" property="f148" />
    <result column="F149" jdbcType="DECIMAL" property="f149" />
    <result column="F150" jdbcType="DECIMAL" property="f150" />
    <result column="F151" jdbcType="DECIMAL" property="f151" />
    <result column="F152" jdbcType="DECIMAL" property="f152" />
    <result column="F153" jdbcType="DECIMAL" property="f153" />
    <result column="F154" jdbcType="DECIMAL" property="f154" />
    <result column="F155" jdbcType="DECIMAL" property="f155" />
    <result column="F156" jdbcType="DECIMAL" property="f156" />
    <result column="F157" jdbcType="DECIMAL" property="f157" />
    <result column="F158" jdbcType="DECIMAL" property="f158" />
    <result column="F159" jdbcType="DECIMAL" property="f159" />
    <result column="F160" jdbcType="DECIMAL" property="f160" />
    <result column="F161" jdbcType="DECIMAL" property="f161" />
    <result column="F162" jdbcType="DECIMAL" property="f162" />
    <result column="F163" jdbcType="DECIMAL" property="f163" />
    <result column="F164" jdbcType="DECIMAL" property="f164" />
    <result column="F165" jdbcType="DECIMAL" property="f165" />
    <result column="F166" jdbcType="DECIMAL" property="f166" />
    <result column="F167" jdbcType="DECIMAL" property="f167" />
    <result column="F168" jdbcType="DECIMAL" property="f168" />
    <result column="F169" jdbcType="DECIMAL" property="f169" />
    <result column="F170" jdbcType="DECIMAL" property="f170" />
    <result column="F171" jdbcType="DECIMAL" property="f171" />
    <result column="F172" jdbcType="DECIMAL" property="f172" />
    <result column="F173" jdbcType="DECIMAL" property="f173" />
    <result column="F174" jdbcType="DECIMAL" property="f174" />
    <result column="F175" jdbcType="DECIMAL" property="f175" />
    <result column="F176" jdbcType="DECIMAL" property="f176" />
    <result column="F177" jdbcType="DECIMAL" property="f177" />
    <result column="F178" jdbcType="DECIMAL" property="f178" />
    <result column="F179" jdbcType="DECIMAL" property="f179" />
    <result column="F180" jdbcType="DECIMAL" property="f180" />
    <result column="F181" jdbcType="DECIMAL" property="f181" />
    <result column="F182" jdbcType="DECIMAL" property="f182" />
    <result column="F183" jdbcType="DECIMAL" property="f183" />
    <result column="F184" jdbcType="DECIMAL" property="f184" />
    <result column="F185" jdbcType="DECIMAL" property="f185" />
    <result column="F186" jdbcType="DECIMAL" property="f186" />
    <result column="F187" jdbcType="DECIMAL" property="f187" />
    <result column="F188" jdbcType="DECIMAL" property="f188" />
    <result column="F189" jdbcType="DECIMAL" property="f189" />
    <result column="F190" jdbcType="DECIMAL" property="f190" />
    <result column="F191" jdbcType="DECIMAL" property="f191" />
    <result column="F192" jdbcType="DECIMAL" property="f192" />
    <result column="F193" jdbcType="DECIMAL" property="f193" />
    <result column="F194" jdbcType="DECIMAL" property="f194" />
    <result column="F195" jdbcType="DECIMAL" property="f195" />
    <result column="F196" jdbcType="DECIMAL" property="f196" />
    <result column="F197" jdbcType="DECIMAL" property="f197" />
    <result column="F198" jdbcType="DECIMAL" property="f198" />
    <result column="F199" jdbcType="DECIMAL" property="f199" />
    <result column="F200" jdbcType="DECIMAL" property="f200" />
    <result column="F201" jdbcType="DECIMAL" property="f201" />
    <result column="F202" jdbcType="DECIMAL" property="f202" />
    <result column="F203" jdbcType="DECIMAL" property="f203" />
    <result column="F204" jdbcType="DECIMAL" property="f204" />
    <result column="F205" jdbcType="DECIMAL" property="f205" />
    <result column="F206" jdbcType="DECIMAL" property="f206" />
    <result column="F207" jdbcType="DECIMAL" property="f207" />
    <result column="F208" jdbcType="DECIMAL" property="f208" />
    <result column="F209" jdbcType="DECIMAL" property="f209" />
    <result column="F210" jdbcType="DECIMAL" property="f210" />
    <result column="F211" jdbcType="DECIMAL" property="f211" />
    <result column="F212" jdbcType="DECIMAL" property="f212" />
    <result column="F213" jdbcType="DECIMAL" property="f213" />
    <result column="F214" jdbcType="DECIMAL" property="f214" />
    <result column="F215" jdbcType="DECIMAL" property="f215" />
    <result column="F216" jdbcType="DECIMAL" property="f216" />
    <result column="F217" jdbcType="DECIMAL" property="f217" />
    <result column="F218" jdbcType="DECIMAL" property="f218" />
    <result column="F219" jdbcType="DECIMAL" property="f219" />
    <result column="F220" jdbcType="DECIMAL" property="f220" />
    <result column="F221" jdbcType="DECIMAL" property="f221" />
    <result column="F222" jdbcType="DECIMAL" property="f222" />
    <result column="F223" jdbcType="DECIMAL" property="f223" />
    <result column="F224" jdbcType="DECIMAL" property="f224" />
    <result column="F225" jdbcType="DECIMAL" property="f225" />
    <result column="F226" jdbcType="DECIMAL" property="f226" />
    <result column="F227" jdbcType="DECIMAL" property="f227" />
    <result column="F228" jdbcType="DECIMAL" property="f228" />
    <result column="F229" jdbcType="DECIMAL" property="f229" />
    <result column="F230" jdbcType="DECIMAL" property="f230" />
    <result column="F231" jdbcType="DECIMAL" property="f231" />
    <result column="F232" jdbcType="DECIMAL" property="f232" />
    <result column="F233" jdbcType="DECIMAL" property="f233" />
    <result column="F234" jdbcType="DECIMAL" property="f234" />
    <result column="F235" jdbcType="DECIMAL" property="f235" />
    <result column="F236" jdbcType="DECIMAL" property="f236" />
    <result column="F237" jdbcType="DECIMAL" property="f237" />
    <result column="F238" jdbcType="DECIMAL" property="f238" />
    <result column="F239" jdbcType="DECIMAL" property="f239" />
    <result column="F240" jdbcType="DECIMAL" property="f240" />
    <result column="F241" jdbcType="DECIMAL" property="f241" />
    <result column="F242" jdbcType="DECIMAL" property="f242" />
    <result column="F243" jdbcType="DECIMAL" property="f243" />
    <result column="F244" jdbcType="DECIMAL" property="f244" />
    <result column="F245" jdbcType="DECIMAL" property="f245" />
    <result column="F246" jdbcType="DECIMAL" property="f246" />
    <result column="F247" jdbcType="DECIMAL" property="f247" />
    <result column="F248" jdbcType="DECIMAL" property="f248" />
    <result column="F249" jdbcType="DECIMAL" property="f249" />
    <result column="F250" jdbcType="DECIMAL" property="f250" />
    <result column="F251" jdbcType="DECIMAL" property="f251" />
    <result column="F252" jdbcType="DECIMAL" property="f252" />
    <result column="F253" jdbcType="DECIMAL" property="f253" />
    <result column="F254" jdbcType="DECIMAL" property="f254" />
    <result column="F255" jdbcType="DECIMAL" property="f255" />
    <result column="F256" jdbcType="DECIMAL" property="f256" />
    <result column="F257" jdbcType="DECIMAL" property="f257" />
    <result column="F258" jdbcType="DECIMAL" property="f258" />
    <result column="F259" jdbcType="DECIMAL" property="f259" />
    <result column="F260" jdbcType="DECIMAL" property="f260" />
    <result column="F261" jdbcType="DECIMAL" property="f261" />
    <result column="F262" jdbcType="DECIMAL" property="f262" />
    <result column="F263" jdbcType="DECIMAL" property="f263" />
    <result column="F264" jdbcType="DECIMAL" property="f264" />
    <result column="F265" jdbcType="DECIMAL" property="f265" />
    <result column="F266" jdbcType="DECIMAL" property="f266" />
    <result column="F267" jdbcType="DECIMAL" property="f267" />
    <result column="F268" jdbcType="DECIMAL" property="f268" />
    <result column="F269" jdbcType="DECIMAL" property="f269" />
    <result column="F270" jdbcType="DECIMAL" property="f270" />
    <result column="F271" jdbcType="DECIMAL" property="f271" />
    <result column="F272" jdbcType="DECIMAL" property="f272" />
    <result column="F273" jdbcType="DECIMAL" property="f273" />
    <result column="F274" jdbcType="DECIMAL" property="f274" />
    <result column="F275" jdbcType="DECIMAL" property="f275" />
    <result column="F276" jdbcType="DECIMAL" property="f276" />
    <result column="F277" jdbcType="DECIMAL" property="f277" />
    <result column="F278" jdbcType="DECIMAL" property="f278" />
    <result column="F279" jdbcType="DECIMAL" property="f279" />
    <result column="F280" jdbcType="DECIMAL" property="f280" />
    <result column="F281" jdbcType="DECIMAL" property="f281" />
    <result column="F282" jdbcType="DECIMAL" property="f282" />
    <result column="F283" jdbcType="DECIMAL" property="f283" />
    <result column="F284" jdbcType="DECIMAL" property="f284" />
    <result column="F285" jdbcType="DECIMAL" property="f285" />
    <result column="F286" jdbcType="DECIMAL" property="f286" />
    <result column="F287" jdbcType="DECIMAL" property="f287" />
    <result column="F288" jdbcType="DECIMAL" property="f288" />
    <result column="VER_TIME" jdbcType="DATE" property="verTime" />
  </resultMap>
  <select id="insertIntoFile" resultMap="BaseResultMap">
    select * from "EMSHIS"."BUSLOAD"."BUS_HISDATA201807" order by mdate,id
  </select>
</mapper>