<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dky.mapper.IndustryStructureMapper">

    <resultMap id="BaseResultMap" type="com.dky.entity.IndustryStructure">
        <result column="areaname" property="areaName" jdbcType="VARCHAR"/>
        <result column="mdate" property="mDate" jdbcType="VARCHAR"/>
        <result column="unit" property="unit" jdbcType="VARCHAR"/>
        <result column="primary" property="primary" jdbcType="DECIMAL"/>
        <result column="second" property="second" jdbcType="DECIMAL"/>
        <result column="tertiary" property="tertiary" jdbcType="DECIMAL"/>


    </resultMap>
    <select id="select" resultMap="BaseResultMap">
        SELECT areaname,mdate,"PRIMARY",second,tertiary,unit FROM industry_structure
    </select>
    <select id="selectQuery" resultMap="BaseResultMap" parameterType="com.dky.entity.IndustryStructure">
        SELECT areaname,mdate,"PRIMARY",second,tertiary,unit FROM industry_structure where 1=1
        <if test="minDate!=null">
            and mdate <![CDATA[ >= ]]> #{minDate,jdbcType=VARCHAR}
        </if>
        <if test="mDate!=null">
            and mdate <![CDATA[ <= ]]> #{mDate,jdbcType=VARCHAR}
        </if>
        <if test="areaName!=null">
            and areaname = #{areaName,jdbcType=VARCHAR}
        </if>
        order by mdate asc
    </select>
    <insert id="insert" parameterType="com.dky.entity.IndustryStructure">
        insert into industry_structure
        VALUES  (
            #{areaName,jdbcType=VARCHAR},
            #{mDate,jdbcType=VARCHAR},
            #{primary,jdbcType=DECIMAL},
            #{second,jdbcType=DECIMAL},
            #{tertiary,jdbcType=DECIMAL},
            #{unit,jdbcType=VARCHAR}
        )
    </insert>


</mapper>