<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dky.mapper.LdBusDvldBeanMapper">
    <resultMap type="com.dky.entity.LdBusDvld1" id="BaseResultMap">
        <result column="ld_id" property="ldId" jdbcType="BIGINT" />
        <result column="ld_descr" property="ldDescr" jdbcType="DECIMAL" />
        <result column="st_id" property="stId" jdbcType="BIGINT" />
        <result column="st_descr" property="stDescr" jdbcType="VARCHAR" />
        <result column="dcc1_id" property="dcc1Id" jdbcType="BIGINT" />
        <result column="dcc1_descr" property="dcc1Descr" jdbcType="VARCHAR" />
        <result column="dcc2_id" property="dcc2Id" jdbcType="BIGINT" />
        <result column="dcc2_descr" property="dcc2Descr" jdbcType="VARCHAR" />
        <result column="dcc3_id" property="dcc3Id" jdbcType="BIGINT" />
        <result column="dcc3_descr" property="dcc3Descr" jdbcType="VARCHAR" />
        <result column="dcc4_id" property="dcc4Id" jdbcType="BIGINT" />
        <result column="dcc4_descr" property="dcc4Descr" jdbcType="VARCHAR" />
        <result column="dcc5_id" property="dcc5Id" jdbcType="BIGINT" />
        <result column="dcc5_descr" property="dcc5Descr" jdbcType="VARCHAR" />

        <result column="day_flag" property="dayFlag" jdbcType="INTEGER" />
        <result column="ultraday_flag" property="ultradayFlag" jdbcType="INTEGER" />
        <result column="ld_vl" property="ldVl" jdbcType="INTEGER" />
        <result column="ver_time" property="verTime" jdbcType="DATE" />
    </resultMap>
   <!-- <insert id="insert" parameterType="BaseResultMap">
        INSERT INTO  ldbusdvld ( ld_id,ld_descr,st_id,st_descr,
        dv_id,dv_descr,co_id,co_descr,flag,ld_vl,ld_vl,
        ver_time,newread)
        VALUES (
        #{LD_ID,jdbcType=BIGINT},
        #{LD_DESCR,jdbcType=VARCHAR},
        #{ST_ID,jdbcType=BIGINT},
        #{ST_DESCR,jdbcType=VARCHAR},
        #{DV_ID,jdbcType=BIGINT},
        #{DV_DESCR,jdbcType=VARCHAR},
        #{CO_ID,jdbcType=BIGINT},
        #{CO_DESCR,jdbcType=VARCHAR},
        #{FLAG,jdbcType=INTEGER},
        #{LD_VL,jdbcType=INTEGER},
        #{VER_TIME,jdbcType=DATE},
        #{NEWREAD,jdbcType=INTEGER}
        )
    </insert>-->
    <sql id="Base_Column_List" >
        ld_id,ld_descr,st_id,st_descr,
        dcc1_id,dcc1_descr,dcc2_id,dcc2_descr,dcc3_id,dcc3_descr,dcc4_id,dcc4_descr,dcc5_id,dcc5_descr,
        day_flag,ultraday_flag,ld_vl,ver_time
    </sql>
    <select id="selectLdBusDvldAll"  resultMap="BaseResultMap" resultType="Map">
        select distinct <include refid="Base_Column_List" /> from ldbusdvld where dcc2_descr=#{dcc2Descr}
    </select>

    <select id="selectPowerStationAll"  resultType="String"  parameterType="String">
        select distinct st_descr  from  ldbusdvld where  dcc2_descr=#{dcc2Descr}
    </select>

    <select id="selectLdBusDvld"  resultMap="BaseResultMap" resultType="Map">
        select distinct <include refid="Base_Column_List" /> from ldbusdvld
            where dcc1_descr like
            '${area}%'
    </select>

    <select id="selectPowerStation"  resultType="String"  parameterType="String">
        select distinct st_descr  from  ldbusdvld  where  dcc1_descr=#{dcc1Descr}
    </select>


</mapper>